{
  "presets": [["@babel/preset-env", {"useBuiltIns": "usage"}], "@babel/preset-react", "@babel/preset-flow"],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "jest": {
    "moduleFileExtensions": [
      "ts",
      "tsx",
      "js"
    ],
    "transform": {
      "^.+\\.js$": "babel-jest",
      "^.+\\.(ts|tsx)$": "ts-jest"
    },
    "globals": {
      "ts-jest": {
        "tsConfigFile": "tsconfig.jest.json"
      }
    },
    "testMatch": [
      "**/tests/**.test.+(ts|tsx|js)"
    ],
    "transformIgnorePatterns": [
      "<rootDir>/node_modules/(?!node-formatter)"
    ],
    "moduleNameMapper": {
      "node-formatter": "<rootDir>/node_modules/node-formatter"
    }
  }
}
