footer {
  max-height: 90px;
}

.contact {
  background-color: #fbfbfb;
  padding-top: 5px;
}

.contact a {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
}

.contact img {
  max-width: 2rem;
}

.copyright {
  padding-bottom: 5px;
}

.fab {
  color: #1d5c60;
  padding-top: 5px;
}

.fab:hover {
  color: #0e2327;
}
